body {
  --border-color: #ffdb58;
}

body {
  margin: 2rem;
}

body > header {
  margin-bottom: 2rem;
}

body > header > button {
  margin-top: 1rem;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--border-color);
  box-shadow: 0 0 15px;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  /* transition: transform 0.2s ease-in-out; */
}

/* .card:hover {
  transform: scale(1.1);
} */

.card.grey::after {
  content: ''; /* Required for pseudo-elements */
  display: block;
  position: absolute; /* Position relative to the parent */
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background-color: rgba(128, 128, 128, 0.4); /* Grey with 60% opacity */
  z-index: 1; /* Ensure it's above the content */
  pointer-events: none; /* Allows interaction with elements underneath if needed */
}

.card > div > p {
  padding: 0.25rem 0 0 0.5rem;
  margin: 0;
}

.card > div > ul {
  list-style: none;
  padding: 0 0 1.5rem 1.5rem;
  margin: 0;
}

.card > header > h3,
.card > footer > h4 {
  margin: 0;
  gap: 0;
  text-align: center;
  background-color: var(--border-color);
}

.card > footer {
  margin-top: auto;
}
